{% extends 'base.html' %}
<!-- imported recent posts -->
{% import 'macros/related_posts.html' as related_macro%}
<!-- import comment list macro -->
{% import 'macros/user_comments.html' as comments_macro %}
<!-- import wtf form -->
{% import 'bootstrap/wtf.html' as wtf %}

<!-- start of content block -->
{% block content %}

<div class="article-view-container">
  <div class="header-container">
    <img src="{{article.image_url}}" class="header-image" alt="" />
    <div class="header-overlay">
      <div class="header-text-container">
        <p class="section-header">{{article.title}}</p>
        <p class="article-category">{{article.category}}</p>
        <p class="article-date">{{article.date}}</p>
      </div>
    </div>
  </div>
  <div class="article-body-container">
    <p class="article-content">{{article.content}}</p>
  </div>
  <div class="related-articles-container">
    <p class="section-header">Related Articles</p>
    {{related_macro.list_related(related)}}
  </div>
  <div class="article-comments-container">
    <p class="section-header">Comments</p>
    {% if comments%} {{comments_macro.list_comments(comments)}} {% else %}
    <p class="text-center article-body">
      There are no comments. <br />
      <span class="article-date">
        <a href="/login" class="authentication-item">Log in</a>to be the first
      </span>
    </p>
    {% endif %}
    <div class="comment-form-container">
      {% if user %}

      <form
        action="{{url_for('main.add_comment', article_id=article.id)}}"
        method="POST"
      >
        <p class="comment-form-header">Drop a comment</p>
        {{form.csrf_token()}}
        <!-- comment input -->
        {{wtf.form_field(form.comment_input, class='form-control form-control-sm
        custom-input', placeholder ='write here...', rows='5')}}
        <div class="comment-form-button-row">
          <button type="submit" class="custom-button">Post</button>
        </div>
      </form>

      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
