{% extends 'base.html' %}
<!-- marco import -->
{% import 'macros/recent_posts.html' as macro %}
<!-- import wtf form -->
{% import 'bootstrap/wtf.html' as wtf %}

<!-- start of content block -->
{% block content %}

<div class="landing-container">
  <div class="top-headlines">
    <p class="section-header">Top Posts</p>
    <div class="container">{% include 'sections/top_headlines.html' %}</div>
  </div>
  <div class="qotd">
    <p class="section-header">Quote of the day</p>
    <div class="container">{% include 'sections/quote_otd.html' %}</div>
  </div>
  <div class="recents">
    <p class="section-header">Recent Posts</p>
    <div class="container">
      <div class="row">{{macro.populate_recent(recent)}}</div>
    </div>
    <div class="load-button-container">
      <form method="POST">
        {{form.csrf_token()}}
        <!-- load more submit button -->
        {{wtf.form_field(form.loadMore, class='custom-button')}}
      </form>
    </div>
  </div>
</div>

<!-- end of content block -->
{%endblock%}
