<!-- start of content block -->
{% block content %}

<div class="popular-container">
  <div class="large-tile">
    <img class="background-image" src="{{popular[0].image_url}}" />
    <div class="overlay">
      <div class="content-layer">
        <div class="category-container">
          <p class="category-lable">{{popular[0].category}}</p>
        </div>
        <div class="text-container">
          <div class="text-group">
            <p class="article-title">{{popular[0].title}}</p>
            <p class="article-date">{{popular[0].date}}</p>
            <a href="/articles/view/{{popular[0].id}}" class="article-link"
              >Read Article >></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="small-tile-1">
    <img class="background-image" src="{{popular[1].image_url}}" />
    <div class="overlay">
      <div class="content-layer">
        <div class="category-container">
          <p class="category-lable">{{popular[1].category}}</p>
        </div>
        <div class="text-container">
          <div class="text-group">
            <p class="article-title">{{popular[1].title}}</p>
            <p class="article-date">{{popular[1].date}}</p>
            <a
              href="/articles/view/{{popular[1].id}}"
              class="text-end my-0 article-link"
              >Read Article >></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="small-tile-2">
    <img class="background-image" src="{{popular[2].image_url}}" />
    <div class="overlay">
      <div class="content-layer">
        <div class="category-container">
          <p class="category-lable">{{popular[2].category}}</p>
        </div>
        <div class="text-container">
          <div class="text-group">
            <p class="article-title">{{popular[2].title}}</p>
            <p class="article-date">{{popular[2].date}}</p>
            <a
              href="/articles/view/{{popular[2].id}}"
              class="text-end my-0 article-link"
              >Read Article >></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="small-tile-3">
    <img class="background-image" src="{{popular[3].image_url}}" />
    <div class="overlay">
      <div class="content-layer">
        <div class="category-container">
          <p class="category-lable">{{popular[3].category}}</p>
        </div>
        <div class="text-container">
          <div class="text-group">
            <p class="article-title">{{popular[3].title}}</p>
            <p class="article-date">{{popular[3].date}}</p>
            <a
              href="/articles/view/{{popular[3].id}}"
              class="text-end my-0 article-link"
              >Read Article >></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="small-tile-4">
    <img class="background-image" src="{{popular[4].image_url}}" />
    <div class="overlay">
      <div class="content-layer">
        <div class="category-container">
          <p class="category-lable">{{popular[4].category}}</p>
        </div>
        <div class="text-container">
          <div class="text-group">
            <p class="article-title">{{popular[4].title}}</p>
            <p class="article-date">{{popular[4].date}}</p>
            <a
              href="/articles/view/{{popular[4].id}}"
              class="text-end my-0 article-link"
              >Read Article >></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- end of macro -->
{% endblock %}
