{% extends 'base.html' %}
<!-- import wtf form -->
{% import 'bootstrap/wtf.html' as wtf %}
<!-- start of content block -->
{% block content %}
<div class="container sign-container">
  <div class="card shadow signin-form-card">
    <div class="card-body mx-4">
      <p class="custom-bold-title text-center">Login into your account</p>
      <form method="POST" class="sign-form">
        {{form.csrf_token()}}
        <!-- password input  -->
        {{wtf.form_field(form.password, class='form-control form-control-sm
        custom-input', placeholder ='At least 8 character')}}

        <div class="sign-form-button">
          <button type="submit" class="login-button">Login</button>
        </div>
      </form>
      <p class="custom-light-body text-center mt-2">
        If you don't have an account
        <span><a href="/register" class="intext-link">click here</a></span> to
        sign up
      </p>
    </div>
  </div>
</div>
<!-- end of content block -->
{% endblock %}
