{% macro populate_recent(recent_posts) %}

<!-- start of for block -->
{% for item in recent_posts %}

<div class="card article-card border-0">
  <img class="card-img-top article-top-image" src="{{item.image_url}}" />

  <div class="header-row">
    <p class="article-title">{{item.title}}</p>
    <p class="article-date">{{item.date}}</p>
  </div>
  <p class="article-sub-title my-0">{{item.category}}</p>
  <div class="article-body-container">
    <p class="article-body">{{item.content}}</p>
  </div>
</div>

<!-- end of for block -->
{% endfor %}

<!-- end of marco -->
{% endmacro %}
