{% macro list_related(related) %}

<!-- start of for loop -->
{% for item in related %}

<div class="related-article-container">
  <div class="related-article-image-container">
    <img
      src="{{item.image_url}}"
      alt="article image"
      class="related-article-image"
    />
  </div>
  <div class="related-article-text-container">
    <p class="related-article-title">{{item.title}}</p>
    <p class="related-article-date">{{item.date}}</p>
    <div class="related-article-category">{{item.category}}</div>
    <p class="related-article-body">{{item.content}}</p>
  </div>
</div>
